<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.OffsetDateTimeTypeHandler"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="cc.nekocc.cyanchatroomserver.domain.model.user.UserStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="cc.nekocc.cyanchatroomserver.domain.model.message.MessageContentType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="cc.nekocc.cyanchatroomserver.domain.model.group.GroupMemberRole"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="cc.nekocc.cyanchatroomserver.domain.model.group.GroupJoinMode"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="cc.nekocc.cyanchatroomserver.domain.model.group.GroupJoinRequestStatus"/>
        <typeHandler handler="cc.nekocc.cyanchatroomserver.infrastructure.persistence.mybatis.typehandler.UUIDTypeHandler"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="cc.nekocc.cyanchatroomserver.infrastructure.config.HikariDataSourceFactory"/>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/OfflineMessageMapper.xml"/>
        <mapper resource="mappers/GroupMapper.xml"/>
        <mapper resource="mappers/GroupMemberMapper.xml"/>
        <mapper resource="mappers/FileMapper.xml"/>
    </mappers>
</configuration>
